<!-- template for other sites -->
{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Cache-control" content="public" />
    <meta charset="UTF-8" />
    <meta name="description" content="Testing Webiste for Team Visionary's Project Espial">
    <meta name="keywords" content="Model Website, Keras, Tensorflow">
    <meta name="author" content="Avishrant Sharma, Spriha Gautam, Ritik Dhiman, Aditi Agarwal">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#FFFFFF">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Project Espial">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta property="og:image" content="static/assets/img/favicon.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="512">
    <meta property="og:image:height" content="512">
    <title>{%block title%} {%endblock title%}</title>
    <link rel="stylesheet" href='{%static "style/base.css"%}' />
    <link rel="stylesheet" href='{%static "style/scroll.css"%}' />
    <link href="{%static 'assets/img/favicon.png'%}" rel="icon" />
    <link href="{%static 'assets/img/apple-touch-icon.png'%}" rel="apple-touch-icon" />
    {%block link%} {%endblock link%}
    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet" />

    <!-- Vendor CSS Files -->
    <script src="https://kit.fontawesome.com/78ee6916f8.js" crossorigin="anonymous"></script>
    <link href="{%static 'assets/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet" />
    <link href="{%static 'assets/vendor/icofont/icofont.min.css'%}" rel="stylesheet" />
    <link href="{%static 'assets/vendor/boxicons/css/boxicons.min.css'%}" rel="stylesheet" />
    <link href="{%static 'assets/vendor/animate.css/animate.min.css'%}" rel="stylesheet" />
    <link href="{%static 'assets/vendor/remixicon/remixicon.css'%}" rel="stylesheet" />
    <link href="{%static 'assets/vendor/line-awesome/css/line-awesome.min.css'%}" rel="stylesheet" />
    <link href="{%static 'assets/vendor/venobox/venobox.css'%}" rel="stylesheet" />
    <link href="{%static 'assets/vendor/owl.carousel/assets/owl.carousel.min.css'%}" rel="stylesheet" />
    <link href="{%static 'assets/vendor/aos/aos.css'%}" rel="stylesheet" />
</head>

<body>
    <header id="header" class="fixed-top d-flex align-items-center">
        <div class="container-fluid d-flex align-items-center justify-content-between">
            <div class="logo">
                <a href="{%url 'home'%}">
                    <h1 class="text-light mx-3" style="display: inline-block; font-family: 'Open Sans'">
                        Espial
                    </h1>
                </a>
            </div>
        </div>
    </header>
    <!-- End Header -->
    <main id="id" style="margin-top: 70px;">{%block content%} {%endblock content%}</main>

    <!-- Vendor JS Files -->
    <script src="{%static 'assets/vendor/jquery/jquery.min.js'%}"></script>
    <script src="{%static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
    <script src="{%static 'assets/vendor/jquery.easing/jquery.easing.min.js'%}"></script>
    <script src="{%static 'assets/vendor/isotope-layout/isotope.pkgd.min.js'%}"></script>
    <script src="{%static 'assets/vendor/venobox/venobox.min.js'%}"></script>
    <script src="{%static 'assets/vendor/owl.carousel/owl.carousel.min.js'%}"></script>
    <script src="{%static 'assets/vendor/aos/aos.js'%}"></script>

    <!-- Template Main JS File -->
    <script src="{%static 'assets/js/main.js'%}"></script>
</body>

</html>