{%extends 'base.html'%}
{%load static%}
{%block title%}Profile{%endblock title%}
{%block link%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(function () {
        $('form').on('submit', function (e) {
            e.preventDefault();

            $.ajax({
                url: '',
                data: $('form').serialize(),
                cache: false,
                method: 'POST',
                type: 'POST', // For jQuery < 1.9
                // beforeSend: function () {
                //     $('#loading').removeClass("hide")
                // },
                // complete: function () {
                //     $('#loading').addClass("hide");
                // },
                success: function (data) {
                    console.log("Success")
                    if (data.status == 403) {
                        $(".response").html(data.message);
                    } else if (data.status == 200) {
                        $(".response").html("Token: " + data.token);
                    }
                    else {
                        $(".response").html("Something went wrong");
                    }
                    $('input[type="text"],textarea').val('');
                },
                error: function () {
                    console.log('Cannot retrieve data.');
                }
            });
        });
    });
</script>
{%endblock link%}
{%block content%}
<h2>Profile</h2>
Email ID: {{user}}<br>
Date Joined: {{user.date_joined}}<br>
Devices Registered: {{total}}<br>
{%if table%}
<table>
    <tr>
        <th>
            Serial Number
        </th>
        <th>
            Device Name
        </th>
        <th>
            URL
        </th>
    </tr>
{%for i in table%}
    <tr>
        <td>
            {{forloop.counter}}
        </td>
        <td>
            {{i.name}}
        </td>
        <td>
            <a href="{{i.url}}" rel="noreferrer" target="_blank">Click to View</a>
        </td>
    </tr>
{%endfor%}
</table>
{%endif%}
<br>
Register New Device
<form method="POST" id="token_form">
    {%csrf_token%}
    <input type="text" name="name" placeholder="Name for your Camera"><br><br>
    <input type="text" name="url" placeholder="Optional"><br><br>
    <input type="submit" value="Generate Token">
</form>
<div class="response"></div>
{%endblock content%}